.category {
  height: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 17px;
  padding-bottom: 10px;
}

.light-category {
  background-color: var(--pink-one);
}

.dark-category {
  background-color: var(--pink-two);
}

.category-name {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.category-number {
  margin: 0;
  color: var(--white);
}

.category-logo {
  width: 50px;
  fill: red;
}