.pokemon-of-category-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 75px;
}

.pokemon-of-category-name {
  margin: 0;
  color: white;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1.1px;
}

.pokemon-of-category-power {
  margin: 0;
  color: white;
}

.pokemon-of-category-dark {
  background-color: var(--pink-one);
}

.pokemon-of-category-light {
  background-color: var(--pink-two);
}
